<div class="container">
	<div class="row">
		<form class="col-md-6 col-md-offset-3 well" [formGroup]="signUpForm" (ngSubmit)="onSubmit()" novalidate>
			<div class="row">
				<h2 class="text-center">Edit profile</h2>
			</div>
			<p>Form status : {{ signUpForm.valid }}</p>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="login" ><span class="required-field">*</span> Login : </label>
						<input class="form-control" type="text" id="login" placeholder="Login" formControlName="login">
					</div>
					<div class="form-group">
						<label for="surname" ><span class="required-field">*</span> Surname : </label>
						<input class="form-control" type="text" id="surname" placeholder="surname" formControlName="surname">
					</div>
					<div class="form-group">
						<label for="firstname"><span class="required-field">*</span> Firstname : </label>
						<input class="form-control" type="text" id="firstname" placeholder="firstname" formControlName="firstname">
					</div>
					<div class="form-group">
						<label for="gender" >Gender : </label>
						<select class="form-control" required id="gender" name="gender" formControlName="gender">
							<option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="email" >Email : </label>
						<input class="form-control" type="email" id="email" name="email" placeholder="Email" formControlName="email">
					</div>
					<div class="row">
						<div class="col-md-2 col-md-offset-8">
							<button type="reset" class="btn btn-default" (click)="reset()">Cancel</button>
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-success" [disabled]="signUpForm.invalid">Save</button>
						</div>
					</div>
					<!--<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<p>New user? <a>Create new account</a></p>
							<p>Forgot your password? <a>Click here</a></p>
							<p>Login with SSO? <a>Click here</a></p>
						</div>
					</div>-->
				</div>
			</div>
		</form>
	</div>
</div>
