<div class="container">
	<div class="row">
		<h2>GROUP MANAGEMENT</h2>
	</div>
	<div class="row">
		<!--mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field-->
		<div class="col-md-8 col-md-offset-2" style="border: 1px black inset; border-radius: 5px; padding-bottom: 15px; box-shadow: inset">
			<div class="example-container mat-elevation-z8">
				<div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
					<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
					<div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
						No more Group
					</div>
				</div>
				<div class="example-table-container">
					<table mat-table [dataSource]="dataSource" class="example-table"
						matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
						<!-- Position Column -->
						<ng-container matColumnDef="position">
							<th mat-header-cell *matHeaderCellDef> No. </th>
							<td mat-cell *matCellDef="let element"> {{element.position}} </td>
						</ng-container>

						<!-- Name Column -->
						<ng-container matColumnDef="name">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
							<td mat-cell *matCellDef="let element"> {{element.name}} </td>
						</ng-container>

						<!-- Weight Column -->
						<ng-container matColumnDef="action">
							<th mat-header-cell *matHeaderCellDef> Actions </th>
							<td mat-cell *matCellDef="let element">
								<button (click)="update(element)">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button (click)="delete(element)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
				</div>
				<mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
			</div>
		</div>
	</div>
	<div class="row">
		<form class="col-md-4 col-md-offset-4 well" [formGroup]="addGroupForm" (ngSubmit)="onSubmit()" novalidate>
			<div class="row">
				<h2 class="text-center">New group</h2>
			</div>
			<p>Form status : {{ addGroupForm.valid }}</p>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<input class="form-control" type="text" id="name" placeholder="name" formControlName="name">
					</div>
					<div class="row">
						<div class="col-md-2 col-md-offset-4">
							<button type="submit" class="btn btn-success" [disabled]="addGroupForm.invalid">Save</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
