<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img alt="Brand" src="...">
			</a>
		</div>
		<form class="navbar-form navbar-right">
			<a class="btn btn-default" routerLink="/login">Log in</a>
			<button class="btn btn-default">Sign up</button>
		</form>
	</div>
</nav>
<!--<app-home></app-home>-->
<!--<app-login></app-login>-->
<!--<app-personform></app-personform>-->

<!--<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		Copyright. Designed by Hamed KARAMOKO
	</div>
</nav>-->
<router-outlet></router-outlet>
