<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" routerLink="/home">
				<img alt="Brand" src="...">
			</a>
		</div>
		<div class="navbar-form navbar-right" *ngIf="!loginService.getConnectedUser">
			<a class="btn btn-default" routerLink="/login">Log in</a>
		</div>
		<div class="navbar-form navbar-right" *ngIf="loginService.getConnectedUser">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{loginService.getConnectedUser.login}}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a [routerLink]="['/dashboard']">Board</a></li>
					<li role="separator" class="divider"></li>
					<li><a (click)="logOut()">Log out</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<router-outlet></router-outlet>
<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		Copyright. Designed by Hamed KARAMOKO
	</div>
</nav>

