<div class="container-fluid">
	<div class="row">
		<div class="menu col-md-2">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation"><a routerLink="/services" routerLinkActive="active">Services</a></li>
			</ul>
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation"><a routerLink="/persons" routerLinkActive="active">Persons</a></li>
			</ul>
		</div>
		<div class="board col-md-8 col-md-offset-1">
			<app-dashboard></app-dashboard>
		</div>
	</div>
</div>
<!--<div class="container-fluid" *ngIf="authenticationService.getConnectedUser">
	<div class="row">
		<div class="menu col-md-2">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation" class="active"><a href="#">Home</a></li>
				<li role="presentation"><a routerLink="/servicesManagement" routerLinkActive="active">Services</a></li>
				<li role="presentation"><a routerLink="/signup" routerLinkActive="active">Edit profile</a></li>
				<li role="presentation"><a href="#">Log out</a></li>
			</ul>
		</div>
		<div class="board col-md-8 col-md-offset-1">
			<app-dashboard></app-dashboard>
		</div>
	</div>
</div>
<div class="container-fluid" *ngIf="!authenticationService.getConnectedUser">
	<div class="row">
		<div class="jumbotron col-md-10 col-md-offset-1">
			<h1>Welcome to {{ title }}!</h1>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>
	</div>
</div>-->
